<div class="wrapper">
  <div class="header">
    <mat-toolbar>
      <mat-slide-toggle checked (click)="toggleDarkTheme()"
        >DARK THEME</mat-slide-toggle
      >
    </mat-toolbar>
  </div>
  <div class="main__container">



    <button (click)="load()">Load</button>

    <!-- <h3>Inline</h3>
    <div class="flex items-center">
      <p>Some data:</p>
      <p *skeleton="isLoading; height: '200px'; width: '100%'">
        Implementing a Loading Skeleton in Angular
      </p>
    </div>

    <h3>Standalone</h3>
    <section class="flex mb-2">
      <ng-container
        *skeleton="isLoading; repeat: 5; className: 'mr-2'; height: '100px'"
      >
        <div *ngFor="let num of [1, 2, 3, 4, 5]" class="mr-2">
          {{ num }}
        </div>
      </ng-container>
    </section>

    <h3>Random Width</h3>
    <ng-container
      *skeleton="
        isLoading;
        repeat: 5;
        className: 'mb-2';
        height: '30px';
        width: 'rand'
      "
    >
      <div *ngFor="let num of [1, 2, 3, 4, 5]">
        {{ num }}
      </div>
    </ng-container> -->


  <ng-container *ngIf='showFirstScreen$$ | async; else quizMain'>
    <div class="start-page" >
      <h1 class="start-page__header">Узнай стоимость дизайна интерьера под ключ</h1>
      <h3 class="start-page__subheader">Пройди тест и получи персональную скидку и каталог работ студии </h3>
      <button mat-flat-button color="primary" class="start-page__btn" (click)="startClick()">Пройти тест</button>
    </div>
  </ng-container>

  <ng-template #quizMain>
    <ng-container *ngIf='showQuiz$$ | async; else finalPage'>
      <div class="quiz">
        <div *ngFor="let item of quizList">
          <form [formGroup]="quiz" class="quiz__body"
          *ngIf="slideIndex$$.getValue() == item.id">

            <h2 class="quiz__title">{{item.title}}</h2>

            <ul class="quiz-list quiz-list__radio">
              <ng-container *ngIf="item.type == 'radio'">
                <li class="quiz-list__item quiz-list__item-radio" *ngFor="let i of item.options">
                  <label class="radio" *skeleton="isLoading; height: '300px'; width: '100%'">
                    <input type="radio" name="{{i.control}}" value="{{i.price}}"
                    formControlName="{{i.control}}" (click)="selectItem()"/>
                    <span class="check"></span>
                    <img *ngIf="i.img" [src]="i.img" [alt]="i.name" />
                    <h4 class="quiz-list__item-title">{{i.name}}</h4>
                  </label>
                </li>
              </ng-container>
            </ul>

            <ul class="quiz-list quiz-list__text">
              <ng-container *ngIf="item.type == 'text'">
                <li class="quiz-list__item quiz-list__item-text" *ngFor="let i of item.options">
                  <label class="radio">
                    <input type="radio" name="{{i.control}}" value="{{i.price}}"
                    formControlName="{{i.control}}" (click)="selectItem()"/>
                    <span class="check"></span>
                    <img *ngIf="i.img" [src]="i.img" [alt]="i.name" />
                    <h4 class="quiz-list__item-title">{{i.name}}</h4>
                  </label>
                </li>
              </ng-container>
            </ul>

          </form>
        </div>

        <div class="quiz__footer">
          <div class="footer__inner">
            <button [disabled]="slideIndex$$.getValue() == 0" mat-stroked-button (click)="prevClick()">Назад</button>
            <button [disabled]="disableButton$$ | async" mat-flat-button color="primary" class="next-btn" (click)="nextClick()">Далее</button>
          </div>

          <mat-chip-list aria-label="Result price">
            <span>Скидка:</span>
            <mat-chip color="accent" selected>{{resultsPrice$$ | async}} рублей</mat-chip>
          </mat-chip-list>

        </div>
      </div>

    </ng-container>

    <ng-template #finalPage>
        <ng-container *ngIf='showThankScreen$$ | async; else final'>
          <div class="thank-page">
            <div class="thank-page__col">
              <h2 class="title thank-page__title">Спасибо! 👏</h2>
              <h4 class="subtitle thank-page__subtitle">Благодарим за ответы! Мы ответим вам на указанный E-mail.</h4>
            </div>
            <mat-chip-list class="discount-badge">
              <mat-chip color="accent" selected>Ваша скидка: {{resultsPrice$$ | async}} рублей</mat-chip>
            </mat-chip-list>
          </div>
        </ng-container>

        <ng-template #final>
          <div class="final-page">
            <h1 class="final-page__title">
              Оставьте телефон: мы закрепим скидку за вашим номером, а также, предоставим расчёт полной стоимости проекта
            </h1>
            <h3 class="final-page__content">Скидка действует в течение 30 дней!</h3>

            <mat-chip-list class="discount-badge">
              <mat-chip color="accent" selected>Ваша скидка: {{resultsPrice$$ | async}} рублей</mat-chip>
            </mat-chip-list>

            <div class="form">
              <form [formGroup]="quizData">
                <mat-form-field appearance="outline">
                  <mat-label>Введите телефон</mat-label>
                  <input formControlName="userPhone" matInput placeholder="Телефон">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Введите имя</mat-label>
                  <input formControlName="userName" matInput placeholder="Имя">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Введите E-mail</mat-label>
                  <input formControlName="userEmail" matInput placeholder="E-mail">
                </mat-form-field>
                <div class="form__agreement">
                  <mat-checkbox></mat-checkbox>
                  <div>С <a href="" target="_blank">Положением об обработке персональных данных</a> и
                    <a href="" target="_blank">Политикой конфиденциальности</a> ознакомлен и согласен</div>
                  </div>
                <button mat-flat-button color="primary" class="final-page__btn" (click)="sendClick()">Узнать стоимость</button>

                <!-- <button mat-flat-button color="primary" class="final-page__btn" (click)="sendClick()">Получить результаты</button> -->

                <!-- <div class="lead-form__agreement">
                  <label class="b-checkbox checkbox">
                    <input type="checkbox" autocomplete="on" required="required" true-value="true" value="false">
                    <span class="check"></span>
                    <span class="control-label">
                    <span>С <a href="" target="_blank">Положением об обработке персональных данных</a> и
                      <a href="" target="_blank">Политикой конфиденциальности</a> ознакомлен и согласен</span>
                    </span>
                  </label>
                </div> -->

              </form>
            </div>
          </div>
        </ng-template>
    </ng-template>
  </ng-template>

  </div>
</div>
