<div class="wrapper">
  <div class="header">
    <mat-toolbar>
      <mat-slide-toggle checked (click)="toggleDarkTheme()"
        >DARK THEME</mat-slide-toggle
      >
    </mat-toolbar>
  </div>
  <div class="main__container">

    <ng-container *ngIf='showFirstScreen$$ | async; else quizs'>
      <div class="start-page" >
        <h1 class="start-page__header">Узнай стоимость дизайна интерьера под ключ</h1>
        <h3 class="start-page__subheader">Пройди тест и получи персональную скидку и каталог работ студии </h3>
        <button mat-flat-button color="primary" class="start-page__btn" (click)="startClick()">Пройти тест</button>
      </div>
    </ng-container>

    <ng-template #quizs>

    <ng-container *ngIf='showQuiz$$ | async; else name'>
      <div class="quiz">
        <div *ngFor="let item of quizList">
          <form [formGroup]="quiz" class="quiz__body"
          *ngIf="slideIndex$$.getValue() == item.id">

            <h2 class="quiz__title">{{item.title}}</h2>

            <ul class="quiz-list quiz-list__radio">
              <ng-container *ngIf="item.type == 'radio'">
                <li class="quiz-list__item quiz-list__item-radio" *ngFor="let i of item.options">
                  <label class="radio">
                    <input type="radio" name="{{i.control}}" value="{{i.price}}"
                    formControlName="{{i.control}}" (click)="selectItem()"/>
                    <span class="check"></span>
                    <img *ngIf="i.img" [src]="i.img" [alt]="i.name" />
                    <h4 class="quiz-list__item-title">{{i.name}}</h4>
                  </label>
                </li>
              </ng-container>
            </ul>

            <ul class="quiz-list quiz-list__text">
              <ng-container *ngIf="item.type == 'text'">
                <li class="quiz-list__item quiz-list__item-text" *ngFor="let i of item.options">
                  <label class="radio">
                    <input type="radio" name="{{i.control}}" value="{{i.price}}"
                    formControlName="{{i.control}}" (click)="selectItem()"/>
                    <span class="check"></span>
                    <img *ngIf="i.img" [src]="i.img" [alt]="i.name" />
                    <h4 class="quiz-list__item-title">{{i.name}}</h4>
                  </label>
                </li>
              </ng-container>
            </ul>

          </form>
        </div>

        <div class="quiz__footer">
          <div class="footer__inner">
            <button [disabled]="slideIndex$$.getValue() == 0" mat-stroked-button (click)="prevClick()">Назад</button>
            <button [disabled]="disableButton$$ | async" mat-flat-button color="primary" class="next-btn" (click)="nextClick()">Далее</button>
          </div>

          <mat-chip-list aria-label="Result price">
            <span>Result:</span>
            <mat-chip color="accent" selected>{{resultsPrice$$ | async}} $</mat-chip>
          </mat-chip-list>

        </div>
      </div>

    </ng-container>

    <ng-template #name>
      <div class="final-page">
      <div class="final-page__title">
        Оставьте телефон: мы закрепим скидку за вашим номером, а также, предоставим расчёт полной стоимости проекта
      </div>
      <div class="final-page__content">Скидка действует в течение 30 дней!</div>

      <div class="discount-badge">
        <div class="discount-badge__title">Ваша скидка:</div>
        <div class="discount-badge__value">{{resultsPrice$$ | async}} $</div>
      </div>

      <div class="form">
        <form action="">
          <mat-form-field appearance="outline">
            <mat-label>Введите телефон</mat-label>
            <input matInput placeholder="Телефон">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Введите имя</mat-label>
            <input matInput placeholder="Имя">
          </mat-form-field>
          <button mat-flat-button color="primary" class="final-page__btn" (click)="startClick()">Узнать стоимость</button>
        </form>
      </div>
      </div>
    </ng-template>

    </ng-template>





  </div>
</div>
