@import "../app/style/variables.scss";

.quiz-wrapper {
  margin-top: 40px;
  &__title {
    margin-bottom: 20px;
  }
}

.quiz-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    text-align: left;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    margin: 0 20px 20px 0;
    width: calc(33.3% - 20px);
    transition: all ease-in-out .2s;
    max-width: 420px;
    @media (max-width: $mobile) {
      margin: 15px 0 0 0;
      width: calc(50% - 7.5px);
    }
    img {
      width: 100%;
      max-height: 256px;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  &__item-title {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 50px;
    color: rgba(54, 54, 54, 0.7);
    padding: 5px 10px 5px 10px;
  }
}

.checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1;
  }
}

.check {
  display: none;
  flex: 0 0 1.25rem;
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #7957d5 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M.04.627L.146.52.43.804.323.91zm.177.177L.854.167.96.273.323.91z' fill='%23fff'/%3E%3C/svg%3E") no-repeat 40%;
  background-size: 21px;
  background-color: #ba9160;
  box-shadow: 0.6px 1.9px 6px 0 rgba(186, 145, 96, 0.2);
  border: 2px solid #ba9160;
}

.checkbox input:checked + .check {
  display: block;
}

