<div class="wrapper">
  <div class="header">
    <mat-toolbar>
      <mat-slide-toggle checked (click)="toggleDarkTheme()"
        >DARK THEME</mat-slide-toggle
      >
    </mat-toolbar>
  </div>
  <div class="main__container">
    <h1 class="main-header">Расчет стоимости дизайн-проекта</h1>
    <h3 class="main-text">Пройдите тест и получите подарок при заказе дизайн-проекта</h3>

    <div class="quiz-wrapper">
      <div *ngFor="let item of quizList">
        <form [formGroup]="quiz" class="quiz-wrapper__body"
        *ngIf="slideIndex$$.getValue() == item.id">
          <h2 class="quiz-wrapper__title">{{item.title}}</h2>
          <ul class="quiz-list">
            <li class="quiz-list__item" *ngFor="let i of item.options">
            <ng-container *ngIf="item.type == 'radio'">
              <label class="radio">
                <input type="radio" name="{{i.control}}" value="{{i.price}}"
                formControlName="{{i.control}}" (click)="selectItem()"/>
                <span class="check"></span>
                <img *ngIf="i.img" [src]="i.img" [alt]="i.name" />
                <h4 class="quiz-list__item-title">{{i.name}}</h4>
              </label>
            </ng-container>

            <ng-container *ngIf="item.type == 'text'">
              <div>{{i.name}}</div>
            </ng-container>
          </li>
          </ul>
        </form>
      </div>

      <div class="quiz-wrapper__footer">
        <div class="quiz-wrapper__footer-inner">
          <button mat-stroked-button (click)="prevClick()">Назад</button>
          <button mat-flat-button color="primary" class="next-btn" (click)="nextClick()">Далее</button>
        </div>

        <mat-chip-list aria-label="Result price">
          <span>Result:</span>
          <mat-chip color="accent" selected>{{resultsPrice$$ | async}} $</mat-chip>
        </mat-chip-list>

      </div>
    </div>
  </div>
</div>
